.btn {
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #272727;
  transition: all 0.2s ease-in-out;
}

.btn:active {
  background-color: #eaedf3;
}

.btn:first-child {
  margin-left: 0;
}

.btn:last-child {
  margin-right: 0;
}
